ion-item{
    ion-label{
        color: #EBFF00;
        font-family: Poppins;
    }
}

.menu-header{
    padding: 1rem;
    font-family: Poppins;
    font-size: 30px;
    
}

.menu-bottom{
    padding: 1rem;
    font-family: Poppins;
}
